# OSX
#

# Xcode
#
mobile/build/
mobile/*.pbxuser
!mobile/default.pbxuser
mobile/*.mode1v3
!mobile/default.mode1v3
mobile/*.mode2v3
!mobile/default.mode2v3
mobile/*.perspectivev3
!mobile/default.perspectivev3
mobile/xcuserdata
mobile/*.xccheckout
mobile/*.moved-aside
mobile/DerivedData
mobile/*.hmap
mobile/*.ipa
mobile/*.xcuserstate
mobile/**/.xcode.env.local


# Android/IntelliJ
#
mobile/build/
mobile/.idea
mobile/.gradle
mobile/local.properties
mobile/*.iml
mobile/*.hprof
mobile/.cxx/
mobile/*.keystore
!mobile/debug.keystore
mobile/.kotlin/



# node.js
#
mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log

# fastlane
#
mobile/**/fastlane/report.xml
mobile/**/fastlane/Preview.html
mobile/**/fastlane/screenshots
mobile/**/fastlane/test_output

# Bundle artifact
mobile/*.jsbundle
mobile/**/.env

# Ruby / CocoaPods
mobile/**/Pods/
mobile/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
mobile/.metro-health-check*

# testing
mobile/coverage

# Yarn
mobile/.yarn/*
!mobile/.yarn/patches
!mobile/.yarn/plugins
!mobile/.yarn/releases
!mobile/.yarn/sdks
!mobile/.yarn/versions

##############################
# .NET Core / ASP.NET
##############################

backend/**/.DS_Store
backend/**/*.cache.json
backend/**/appsettings.Development.json


backend/**/bin/
backend/**/obj/
backend/**/out/
backend/**/logs/
backend/**/Debug/
backend/**/Release/

# VS / VSCode / Rider
backend/.vs/
backend/.vscode/
backend/**/.idea/
backend/**/*.user
backend/**/*.suo
backend/**/*.vspscc
backend/**/*.vssscc
backend/**/*.csproj.user
backend/**/*.dbmdl

# Cache, binaries, logs
backend/**/*.log
backend/**/*.ldf
backend/**/*.mdf
backend/**/*.ndf
backend/**/*.cache
backend/**/*.pdb
backend/**/*.exe
backend/**/*.dll
backend/**/*.appsettings*.json.local

# Entity Framework migrations (optional)
backend/**/Migrations/

##############################
# Generic temp / system files
##############################
*.cache
*.log
*.tlog
*.tmp
*.bak
*.swp
*.lock
*.pidb
*.svclog
Thumbs.db
desktop.ini
ehthumbs.db


# SQL Session Files

backend/**/*.session.sql